.back-button {
  height: 3rem;
  .mat-icon {
    font-size: 26px !important;
    margin: 1rem;
  }
}

.title {
  text-align: center;
  margin: 2rem;
}

table {
  min-width: 50% !important;
  height: 50%;
  margin: auto;
}
