/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
}
.flex-space {
  display: flex;
  justify-content: space-between;
}

@for $i from 1 through 5 {
  .mb-#{$i} {
    margin-bottom: $i *
      0.5rem; // Multiplies the iteration number by 0.5 to get the rem value
  }
}

@for $i from 1 through 5 {
  .m-#{$i} {
    margin: $i *
      0.5rem; // Multiplies the iteration number by 0.5 to get the rem value
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
