<main class="main">
  <div class="content">
    <div>
      <img
        routerLink="/home"
        [src]="svgPath"
        alt="Angular Logo"
        class="angular-logo"
      />
    </div>
  </div>

  <div class="flex-evenly mb-2">
    <button routerLink="/lazy-loaded" mat-raised-button color="primary">
      <mat-icon>visibility</mat-icon>
      Lazy loading
    </button>
    <button routerLink="/defer" mat-raised-button color="primary">
      <mat-icon>visibility</mat-icon>
      Deferrable views
    </button>
  </div>
  <div class="flex-evenly p-2">
    <button class="full-width" routerLink="/share" mat-raised-button color="primary">
      <mat-icon>share</mat-icon>
      signal
    </button>
  </div>
</main>

<!-- @if (isVisible) {
<h1>is visible</h1>
}
@else if (!isVisible) {
<h1>is not visible</h1>
}@else {
  <h1>condition not working</h1>
} -->
